@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
    background-image: url("../img/loz-bg-img.jpg");
    /*background-color: #375896;*/

}

.jumbotron {
    padding: 1px;
    background: rgba(255, 91, 93, 0.5);
    margin-bottom: 1px;
}

h1 {
    text-align: center;
    font-family: 'Oswald', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-lg {
    padding: 7px 40px;
    font-size: 24px;
    background-color: chartreuse;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

div img {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: #B3B3B3 4px 4px 4px;
    -moz-box-shadow: #B3B3B3 4px 4px 4px;
    box-shadow: #B3B3B3 4px 4px 4px;
}

#game-board img {
    width: 200px;
    height: 200px;
    margin-right: 5px;
    padding: 1em;
}

#game-board {
    padding: 1em;
}

.row {
    font-size: 2em;
    font-weight: bolder;
    color: #ffff00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: double;
    margin-top: 1px;
    margin-right: 1em;
    margin-left: 1em;
}

#game-board div {
    margin-left: 25%;
}

